.common-middle .content .art_gallery .transportation #bd_map {
  width: 530px;
  height: 300px; }
.common-middle .content .art_gallery .contact_us .codeArea {
  font-size: 18px;
  font-weight: bold;
  margin-top: 60px; }
.common-middle .content .art_gallery .contact_us .gongzhongCode, .common-middle .content .art_gallery .contact_us .dingyueCode, .common-middle .content .art_gallery .contact_us .shuimochanganCode {
  background-image: url("http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/sprite.png");
  width: 530px;
  height: 530px;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }
.common-middle .content .art_gallery .contact_us .gongzhongCode {
  background-position: 0 0; }
.common-middle .content .art_gallery .contact_us .dingyueCode {
  background-position: -530px 0; }
.common-middle .content .art_gallery .contact_us .shuimochanganCode {
  background-position: -1060px 0; }
