
.common-middle{
    .content{
         .art_gallery{
             .transportation{
                 #bd_map{
                     width: 530px;
                     height: 300px;
                 }
             }
             .contact_us{
                 .codeArea{
                     // text-align: center;
                     font-size: 18px;
                     font-weight: bold;
                     margin-top: 60px;
                 }
                 .gongzhongCode, .dingyueCode, .shuimochanganCode{
                     background-image: url("http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/sprite.png");
                     width: 530px; height: 530px;
                 }
                 .gongzhongCode{
                     background-position: 0 0;
                 }
                 .dingyueCode{
                     background-position: -530px 0;
                 }
                 .shuimochanganCode{
                     background-position: -1060px 0;
                 }
             }
         }
    }
}
