/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*v2.0 over*/
body {
  font-family: "Microsoft YaHei"; }

#common-header {
  width: 100%;
  height: 163px;
  box-sizing: border-box;
  border-bottom: 1px solid #b3b3b3; }
  #common-header > div {
    width: 1226px;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1920px) {
      #common-header > div {
        width: 1780px; } }
    #common-header > div #top_logo {
      width: 232px;
      height: 46px;
      position: relative;
      top: 28px; }
      @media (min-width: 1920px) {
        #common-header > div #top_logo {
          width: 256px;
          height: 51px;
          top: 34px; } }
    #common-header > div .menu li {
      width: 175.14286px;
      float: left;
      position: relative;
      top: 80px;
      color: black;
      font-size: 14px;
      font-weight: bold; }
      @media (min-width: 1920px) {
        #common-header > div .menu li {
          width: 150px;
          float: right;
          top: 68px; } }
      #common-header > div .menu li span {
        color: #761301; }

.common-middle {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  box-sizing: border-box; }
  .common-middle #catalog {
    width: 182px;
    float: left; }
    .common-middle #catalog h2 {
      font-size: 18px;
      font-weight: bold;
      color: #761301; }
      .common-middle #catalog h2 span {
        font-size: 12px; }
    .common-middle #catalog > div {
      color: black;
      margin-top: 22px; }
      .common-middle #catalog > div h3 {
        font-size: 14px; }
        .common-middle #catalog > div h3 span {
          font-size: 12px;
          color: #b3b3b3; }
      .common-middle #catalog > div ul li {
        font-size: 12px;
        box-sizing: border-box;
        padding-left: 1em;
        line-height: 16px;
        margin-top: 8px; }
        .common-middle #catalog > div ul li span {
          font-size: 10px;
          color: #b3b3b3; }
  .common-middle .content {
    width: 1044px;
    float: left;
    line-height: 22px; }
    .common-middle .content > section > section {
      display: none;
      font-size: 12px;
      color: black; }
      .common-middle .content > section > section h2 {
        font-size: 16px;
        color: black; }
        .common-middle .content > section > section h2 span {
          font-size: 14px;
          color: #b3b3b3; }
      .common-middle .content > section > section p {
        margin-top: 24px; }
      .common-middle .content > section > section .articalImgP {
        text-align: center; }
        .common-middle .content > section > section .articalImgP .articalImg {
          width: 530px; }
    .common-middle .content > section:first-child {
      display: block; }
      .common-middle .content > section:first-child > section {
        display: none; }
        .common-middle .content > section:first-child > section:first-child {
          display: block; }
    .common-middle .content .pagination li {
      border: 1px solid gray; }
    .common-middle .content .pagination .currentLi {
      border: none; }

#common-footer {
  width: 1226px;
  margin: 200px auto auto auto;
  font-size: 12px; }
  @media (min-width: 1920px) {
    #common-footer {
      width: 1780px; } }
  #common-footer > section .footer_up {
    height: 230px;
    padding: 38px 0 38px 0;
    box-sizing: border-box;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3; }
    #common-footer > section .footer_up #bulletin-tab, #common-footer > section .footer_up #gallery_base_info {
      float: left;
      position: relative;
      background-color: yellow; }
      #common-footer > section .footer_up #bulletin-tab h2, #common-footer > section .footer_up #gallery_base_info h2 {
        font-size: 14px;
        font-weight: bold;
        color: #761301; }
      #common-footer > section .footer_up #bulletin-tab > div, #common-footer > section .footer_up #gallery_base_info > div {
        font-size: 12px; }
        #common-footer > section .footer_up #bulletin-tab > div p, #common-footer > section .footer_up #gallery_base_info > div p {
          color: #b3b3b3; }
      #common-footer > section .footer_up #bulletin-tab > span, #common-footer > section .footer_up #gallery_base_info > span {
        font-weight: bold;
        color: #761301;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0; }
    #common-footer > section .footer_up #bulletin-tab {
      width: 335px;
      height: 158px; }
      #common-footer > section .footer_up #bulletin-tab > div {
        font-size: 12px;
        position: relative;
        top: 20px; }
        #common-footer > section .footer_up #bulletin-tab > div h3 {
          color: black;
          margin-bottom: 12px; }
        #common-footer > section .footer_up #bulletin-tab > div .bulletin_content {
          line-height: 22px;
          margin-bottom: 24px; }
    #common-footer > section .footer_up #gallery_base_info {
      width: 365px;
      height: 158px;
      margin-left: 100px; }
      #common-footer > section .footer_up #gallery_base_info > div p {
        line-height: 22px;
        margin-top: 16px; }
        #common-footer > section .footer_up #gallery_base_info > div p span {
          color: black; }
    #common-footer > section .footer_up > img {
      width: 95px;
      height: 95px;
      float: right;
      margin-right: 20px; }
  #common-footer > section .footer_down {
    position: relative;
    height: 78px; }
    #common-footer > section .footer_down > p, #common-footer > section .footer_down > div {
      float: left;
      line-height: 78px; }
    #common-footer > section .footer_down > div {
      position: absolute;
      left: 780px;
      line-height: 78px; }
    #common-footer > section .footer_down > img {
      float: right;
      width: 149px;
      height: 30px;
      position: relative;
      top: 24px; }
