
@import "basic.scss";
.common-middle{
    .content{
        >section{
            >section{
                display: none;
            }
            &:first-child{
                display: block;
                >section{
                    display:none;
                    &:first-child{
                        display: block;
                    }
                }
            }
        }

        .pagination{
            li{
                border: 1px solid gray;
            }
            .currentLi{
                border: none;
            }
        }
    }
}
