@import "basic.scss";
.art_chronology{
    >img{
        width:100%;
        margin-top: 24px;
    }
}

.permanent_exhibition{
    font-size: 12px;
    .permanent_exhibition_cata{
        height: 22px;
        margin-top: 16px;
        .active_cata{
            color: $STANDARD_COLOR;
        }
        li{
            height: 22px;
            float: left;
            margin-right: 30px;
            cursor: pointer;
        }
    }
    .permanent_exhibition_list{
        >li{
            margin-top: 24px;
            .cover{
                float: left;
                width: 355px; height: 200px;
                cursor: pointer;
            }
            .info{
                width: 355px;
                overflow: hidden;
                float: left;
                margin-left: 34px;
                h3{
                    font-size: 14px;
                    font-weight: bold;
                    span{
                        color: $STANDARD_COLOR;
                    }
                }
                p{
                    font-size: 12px;
                    color: $BASIC_GRAY;
                }
                .date{
                    font-weight: bold;
                }
                .summary{
                    margin-top: 16px;
                }
                .more{
                    color: $STANDARD_COLOR;
                    font-size: 10px;
                    display: inline-block; margin-top: 16px;
                }
            }
        }
    }
}

.treatise{
    font-size: 12px;
    .treatise_list{
        >li{
            margin-top: 24px;
            .cover{
                float: left;
                width: 355px; height: 200px;
                background:{
                    color: $BASIC_GRAY;
                    repeat: no-repeat;
                    size: contain;
                    position: center;
                }
                cursor: pointer;
            }
            .info{
                float: left;
                margin-left: 34px;
                span{
                    color: $BASIC_GRAY;
                }
            }
        }
    }
}

.video{
    >div{
        float: left;
        margin-left: 92px;
        width: 270px;
        h3{
            white-space: pre-wrap;
            font-size: 14px;
        }
    }
    div:nth-child(3n+2){
        margin-left: 0;
    }
}
