@import "basic.scss";


.gallery{
    font-size: 12px;
    .works_cata{
        height: 22px;
        margin-top: 16px;
        .active_cata{
            color: $STANDARD_COLOR;
        }
        li{
            height: 22px;
            float: left;
            margin-right: 30px;
            cursor: pointer;
        }
    }
    .works_list{
        >li{
            margin-top: 24px;
            .thumbnail{
                float: left;
                width: 355px; height: 200px;
                background:{
                    color: $BASIC_GRAY;
                    repeat: no-repeat;
                    size: contain;
                    position: center;
                }
                cursor: pointer;
            }
            .info{
                float: left;
                margin-left: 34px;
                width: 355px; overflow: hidden;
                span{
                    color: $BASIC_GRAY;
                }
            }
        }
    }
}
