/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*v2.0 over*/
body {
  font-family: "Microsoft YaHei"; }

#top_logo {
  cursor: pointer; }

.more {
  font-size: 10px;
  font-weight: bold;
  color: #761301; }

a {
  color: inherit; }

.active_tab {
  color: #761301; }

#content {
  position: relative;
  top: 30px;
  width: 1226px;
  margin-left: auto;
  margin-right: auto; }
  #content > div {
    height: 515px;
    float: left;
    background-color: #efefef;
    margin-bottom: 10px; }
    #content > div .more {
      position: absolute;
      right: 25px;
      bottom: 25px;
      cursor: pointer; }
  #content #carousel-tab {
    width: 815px; }
    #content #carousel-tab .swiper-wrapper > div {
      background-size: contain;
      background-repeat: no-repeat; }
      #content #carousel-tab .swiper-wrapper > div h3 {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        bottom: 22px;
        left: 22px; }
        #content #carousel-tab .swiper-wrapper > div h3 span {
          color: #761301; }
    #content #carousel-tab .swiper-pagination {
      bottom: 80px; }
      #content #carousel-tab .swiper-pagination .swiper-pagination-bullet {
        background-color: #b3b3b3; }
      #content #carousel-tab .swiper-pagination .swiper-pagination-bullet-active, #content #carousel-tab .swiper-pagination .swiper-button-prev, #content #carousel-tab .swiper-pagination .swiper-button-next {
        background-color: #761301; }
    #content #carousel-tab .swiper-button-prev, #content #carousel-tab .swiper-button-next {
      width: 39px;
      height: 98px;
      top: 37%;
      background: url("http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/sprite.png");
      background-position: -1590px -81px; }
    #content #carousel-tab .swiper-button-prev {
      left: 0; }
    #content #carousel-tab .swiper-button-next {
      right: 0;
      -webkit-transform: rotateZ(180deg);
      transform: rotateZ(180deg); }
  #content #exhibition-tab, #content #public_education-tab, #content #bulletin-tab, #content #gallery_base_info {
    width: 400px;
    position: relative; }
    #content #exhibition-tab h2, #content #public_education-tab h2, #content #bulletin-tab h2, #content #gallery_base_info h2 {
      position: absolute;
      left: 25px;
      bottom: 25px;
      font-size: 18px;
      font-weight: bold;
      color: #761301; }
  #content #bulletin-tab, #content #gallery_base_info {
    margin-left: 13px; }
  #content #exhibition-tab {
    margin-left: 11px; }
    #content #exhibition-tab img {
      width: 100%;
      height: 170px;
      display: block; }
    #content #exhibition-tab > div {
      width: 360px;
      height: 76px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      border-top: 1px solid #b3b3b3;
      position: relative; }
      #content #exhibition-tab > div h3 {
        position: absolute;
        top: 24px;
        font-size: 14px;
        font-weight: bold; }
        #content #exhibition-tab > div h3 span {
          color: #761301; }
      #content #exhibition-tab > div p {
        position: absolute;
        top: 48px;
        font-size: 12px;
        font-weight: bold;
        color: #b3b3b3; }
    #content #exhibition-tab > div:nth-child(3) {
      border-top: none; }
  #content #public_education-tab img {
    width: 100%;
    height: 170px;
    display: block; }
  #content #public_education-tab > div {
    width: 360px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-top: 1px solid #b3b3b3;
    position: relative; }
    #content #public_education-tab > div h3 {
      position: absolute;
      top: 24px;
      font-size: 12px; }
      #content #public_education-tab > div h3 span {
        color: #761301; }
  #content #public_education-tab > div:nth-child(3) {
    border-top: none; }
  #content #bulletin-tab {
    position: relative; }
    #content #bulletin-tab img {
      width: 100%;
      height: 170px;
      display: block; }
    #content #bulletin-tab > div {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      font-size: 12px; }
      #content #bulletin-tab > div h3 {
        position: absolute;
        top: 24px; }
      #content #bulletin-tab > div .bulletin_content {
        position: absolute;
        top: 62px;
        color: #b3b3b3;
        line-height: 22px; }
    #content #bulletin-tab > div:nth-child(3) {
      border-top: none; }
    #content #bulletin-tab > ul {
      position: absolute;
      top: 24px;
      right: 0; }
      #content #bulletin-tab > ul li {
        float: left;
        margin-right: 6px; }
  #content #gallery_base_info > div {
    font-size: 12px;
    width: 360px;
    margin-left: auto;
    margin-right: auto; }
    #content #gallery_base_info > div h2 {
      font-weight: normal;
      top: 40px;
      left: 20px; }
    #content #gallery_base_info > div > div {
      color: #b3b3b3;
      position: absolute;
      line-height: 22px; }
      #content #gallery_base_info > div > div h3 {
        color: black; }
    #content #gallery_base_info > div .time {
      top: 90px; }
    #content #gallery_base_info > div .add {
      top: 175px; }
    #content #gallery_base_info > div .tel {
      top: 240px; }
  #content #gallery_base_info .code {
    width: 109px;
    height: 109px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-image: url("http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/sprite.png");
    background-position: -1629px -81px; }

#footer {
  width: 1226px;
  height: 78px;
  box-sizing: border-box;
  color: #b3b3b3;
  border-top: 1px solid #b3b3b3;
  margin: 200px auto auto auto;
  font-size: 12px;
  position: relative; }
  @media (min-width: 1920px) {
    #footer {
      width: 1780px; } }
  #footer > p, #footer > div {
    float: left;
    line-height: 78px; }
  #footer > div {
    position: absolute;
    left: 780px;
    line-height: 78px; }
  #footer i {
    width: 149px;
    height: 30px;
    float: right;
    width: 149px;
    height: 30px;
    position: relative;
    top: 24px;
    background-image: url("http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/sprite.png");
    background-position: -1590px -51px; }
