/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*v2.0 over*/
body {
  font-family: "Microsoft YaHei"; }

#top_logo {
  cursor: pointer; }

.more {
  font-size: 10px;
  font-weight: bold;
  color: #761301; }

a {
  color: inherit; }

.active_tab {
  color: #761301; }

#vUploaded_article {
  position: relative; }
  #vUploaded_article > div img {
    display: block; }
  #vUploaded_article .close_article {
    position: absolute;
    top: 70px;
    right: 0;
    cursor: pointer; }

.ssgyb {
  font-size: 12px; }
  .ssgyb .ssgyb_cata {
    height: 22px;
    margin-top: 16px; }
    .ssgyb .ssgyb_cata .active_cata {
      color: #761301; }
    .ssgyb .ssgyb_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  .ssgyb .ssgyb_list > li {
    margin-top: 24px; }
    .ssgyb .ssgyb_list > li .cover {
      float: left;
      width: 355px;
      height: 200px;
      cursor: pointer; }
    .ssgyb .ssgyb_list > li .info {
      width: 355px;
      overflow: hidden;
      float: left;
      margin-left: 34px; }
      .ssgyb .ssgyb_list > li .info h3 {
        font-size: 14px;
        font-weight: bold; }
        .ssgyb .ssgyb_list > li .info h3 span {
          color: #761301; }
      .ssgyb .ssgyb_list > li .info p {
        font-size: 12px;
        color: #b3b3b3; }
      .ssgyb .ssgyb_list > li .info .date {
        font-weight: bold; }
      .ssgyb .ssgyb_list > li .info .summary {
        margin-top: 16px; }
      .ssgyb .ssgyb_list > li .info .more {
        color: #761301;
        font-size: 10px;
        display: inline-block;
        margin-top: 16px; }

.ysdjt {
  font-size: 12px; }
  .ysdjt .ysdjt_cata {
    height: 22px;
    margin-top: 16px; }
    .ysdjt .ysdjt_cata .active_cata {
      color: #761301; }
    .ysdjt .ysdjt_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  .ysdjt .ysdjt_list > li {
    margin-top: 24px; }
    .ysdjt .ysdjt_list > li .cover {
      float: left;
      width: 355px;
      height: 200px;
      cursor: pointer; }
    .ysdjt .ysdjt_list > li .info {
      width: 355px;
      overflow: hidden;
      float: left;
      margin-left: 34px; }
      .ysdjt .ysdjt_list > li .info h3 {
        font-size: 14px;
        font-weight: bold; }
        .ysdjt .ysdjt_list > li .info h3 span {
          color: #761301; }
      .ysdjt .ysdjt_list > li .info p {
        font-size: 12px;
        color: #b3b3b3; }
      .ysdjt .ysdjt_list > li .info .date {
        font-weight: bold; }
      .ysdjt .ysdjt_list > li .info .summary {
        margin-top: 16px; }
      .ysdjt .ysdjt_list > li .info .more {
        color: #761301;
        font-size: 10px;
        display: inline-block;
        margin-top: 16px; }

.volunteering {
  font-size: 12px; }
  .volunteering .volunteering_cata {
    height: 22px;
    margin-top: 16px; }
    .volunteering .volunteering_cata .active_cata {
      color: #761301; }
    .volunteering .volunteering_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  .volunteering .volunteering_list > li {
    margin-top: 24px; }
    .volunteering .volunteering_list > li .cover {
      float: left;
      width: 355px;
      height: 200px;
      cursor: pointer; }
    .volunteering .volunteering_list > li .info {
      width: 355px;
      overflow: hidden;
      float: left;
      margin-left: 34px; }
      .volunteering .volunteering_list > li .info h3 {
        font-size: 14px;
        font-weight: bold; }
        .volunteering .volunteering_list > li .info h3 span {
          color: #761301; }
      .volunteering .volunteering_list > li .info p {
        font-size: 12px;
        color: #b3b3b3; }
      .volunteering .volunteering_list > li .info .date {
        font-weight: bold; }
      .volunteering .volunteering_list > li .info .summary {
        margin-top: 16px; }
      .volunteering .volunteering_list > li .info .more {
        color: #761301;
        font-size: 10px;
        display: inline-block;
        margin-top: 16px; }

.exchanges {
  font-size: 12px; }
  .exchanges .exchanges_cata {
    height: 22px;
    margin-top: 16px; }
    .exchanges .exchanges_cata .active_cata {
      color: #761301; }
    .exchanges .exchanges_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  .exchanges .exchanges_list > li {
    margin-top: 24px; }
    .exchanges .exchanges_list > li .cover {
      float: left;
      width: 355px;
      height: 200px;
      cursor: pointer; }
    .exchanges .exchanges_list > li .info {
      width: 355px;
      overflow: hidden;
      float: left;
      margin-left: 34px; }
      .exchanges .exchanges_list > li .info h3 {
        font-size: 14px;
        font-weight: bold; }
        .exchanges .exchanges_list > li .info h3 span {
          color: #761301; }
      .exchanges .exchanges_list > li .info p {
        font-size: 12px;
        color: #b3b3b3; }
      .exchanges .exchanges_list > li .info .date {
        font-weight: bold; }
      .exchanges .exchanges_list > li .info .summary {
        margin-top: 16px; }
      .exchanges .exchanges_list > li .info .more {
        color: #761301;
        font-size: 10px;
        display: inline-block;
        margin-top: 16px; }
