$HEADER_WIDTH: 100%;
$HEADER_CONTENT_WIDTH_1920: 1780px;
$HEADER_CONTENT_WIDTH_1366: 1226px;

$MIDDLE_WIDTH: 980px;
$MIDDLE_CATALOG_WIDTH: 182px;
$MIDDLE_CONTENT_WIDTH: $MIDDLE_WIDTH - $MIDDLE_CATALOG_WIDTH;
$ARTICLE_IMAGE_WIDTH: 530px;

$FOOTER_WIDTH_1920: 1780px;
$FOOTER_WIDTH_1366: 1226px;
$FOOTER_CONTENT_WIDTH: 1226px;

.image{
    width: $ARTICLE_IMAGE_WIDTH;
    height: $MIDDLE_CONTENT_WIDTH;
}
