<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/exhibition.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>
    <section id="exhibition-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <!-- <section class="permanent exhibition">
                    <h2>展览预告<span>UPCOMING EXHIBTION</span></h2>
                </section> -->
                <section class="permanent_exhibition">
                    <h2>常设展览  <span>PERMANENT EXHIBTION</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="permanent_exhibition_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="permanent_exhibition_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
                <!-- <section class="online">
                    <h2>在线展览<span>ON-LINE</span></h2>
                </section> -->
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
        <!-- <div>
            <div id="bulletin-tab">
                <h2>公告 BULLETIN</h2>
                <bulletin-tab :tab="getTab"></bulletin-tab>
                <span>more</span>
            </div>
            <div id="gallery_base_info">
                <gallery-base-info></gallery-base-info>
            </div>
        </div>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div> -->
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js/exhibition.js"></script>
</html>
