<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="崔振宽美术馆">
    <meta name="keywords" content="美术馆, 崔振宽, 西安美术馆, 长安画派, 水墨长安, 陕西美术馆">
    <title>崔振宽美术馆 画廊·衍生品</title>
    <link href="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/css/common_page20170804.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="gallery-derivatives-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2 v-text="title[0]"><br /><span v-text="title[1]"></span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
            <p class="breadcrumb"><a href="index.html">🏠</a> ＞ <span v-text="title[0]"></span><span v-cloak> ＞ {{currentLevel1Title}}</span><span v-cloak> ＞ {{currentLevel2Title}}</span></p>
        </div>
        <section class="content">
            <section>
                <section class="gallery">
                    <h2>画廊  <span>GALLERY</span></h2>
                    <ul class="works_cata">
                        <works-cata v-for="(item,index) in catas_c" :cata_c="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul class="works_list">
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                        <ul v-if="list.length>nPerPage" class="pagination">
                            <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        </ul>
                    </div>
                </section>
            </section>
            <section>
                <section class="derivatives">
                    <h2>衍生品  <span>DERIVATIVES</span></h2>
                    <ul class="works_cata">
                        <works-cata v-for="(item,index) in catas_c" :cata_c="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul class="works_list">
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                        <ul v-if="list.length>nPerPage" class="pagination">
                            <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        </ul>
                    </div>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer :tabs="bulletinTabs" :bulletin-index="bulletinIndex" :bulletin-num="bulletinNum"></common-footer>
    </footer>

</body>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="component/common.component.js"></script>
<script src="js\gallery-derivatives.js"></script>
<script src="GlobalVarChecker/checkGlobalVariables.js"></script>
</html>
