<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/gallery-derivatives.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="gallery-derivatives-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata :current-title="currentTitle" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <section class="gallery">
                    <h2>画廊  <span>GALLERY</span></h2>
                    <!-- <ul>
                        <works-cata v-for="item in catas_c" :cata_c="item" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul>
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul> -->
                    <ul class="works_cata">
                        <works-cata v-for="(item,index) in catas_c" :cata_c="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul class="works_list">
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                        <ul v-if="list.length>nPerPage" class="pagination">
                            <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        </ul>
                    </div>
                </section>
                <section class="DERIVATIVES">
                    <h2>衍生品  <span>DERIVATIVES</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\gallery-derivatives.js"></script>
</html>
