<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="content">
        <div id="carousel-tab">
            <carousel-tab v-for="item in carouselTabs" :style="{backgroundImage:'url(' +item[0]+ ')'}" :tab="item"></carousel-tab>
        </div>
        <div id="exhibition-tab">
            <h2>展览 EXHIBITION</h2>
            <img src="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/index/exhibition/test1.png" />
            <exhibition-news v-for="item in exhibitionNews" :news="item"></exhibition-news>
            <span class="more">more</span>
        </div>
        <div id="public_education-tab">
            <h2>公共教育 PUBLIC EDUCATION</h2>
            <img src="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/index/exhibition/test1.png" />
            <public_education-news v-for="item in publicEducationNews" :news="item"></public_education-news>
            <span class="more">more</span>
        </div>
        <div id="bulletin-tab">
            <h2>公告 BULLETIN</h2>
            <bulletin-tab :tab="bulletinGetTab">
            </bulletin-tab>
            <span class="more">more</span>
        </div>
        <gallery-base-info id="gallery_base_info"></gallery-base-info>
        <p style="clear:both;"></p>
    </section>
    <footer>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div>
    </footer>
</body>
<script src="js/vue.js"></script>
<script src="component/index.component.js"></script>
</html>
