<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/about_us.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <img alt="左上角logo" />
        <ul>
            <li>关于我们<span>ABOUT US</span></li>
            <li>崔振宽艺术<span>CUIZHENKUAN ART</span></li>
            <li>展览<span>EXHIBITION</span></li>
            <li>公共教育<span>PUBLIC EDUCATION</span></li>
            <li>学术研究·馆藏<span>RESERCH·COLLECTION</span></li>
            <li>画廊·衍生品<span>GALLERY·DERIVATIVES</span></li>
            <li>服务中心<span>SERVICE CENTER</span></li>
        </ul>
    </header>
    <section id="public_education-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <section class="activities">
                    <h2>公教活动<span>ACTIVITIES</span></h2>
                    <ul>
                        <public-activity v-for="item in displayedItem" :li-data="item"></public-activity>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
                <section class="exchanges">
                    <h2>合作交流<span>EXCHANGES</span></h2>
                    <ul>
                        <exchanges-item v-for="item in displayedItem" :li-data="item"></exchanges-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
                <section class="volunteering">
                    <h2>志愿者服务<span>VOLUNTEERING</span></h2>
                    <ul>
                        <volunteering-item v-for="item in displayedItem" :li-data="item"></volunteering-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
            </section>
        </section>
    </section>

    <footer>
        <div>
            <div id="bulletin-tab">
                <h2>公告 BULLETIN</h2>
                <bulletin-tab :tab="getTab"></bulletin-tab>
                <span>more</span>
            </div>
            <div id="gallery_base_info">
                <gallery-base-info></gallery-base-info>
            </div>
        </div>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div>
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\public_education.js"></script>
</html>
