<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="崔振宽美术馆">
    <meta name="keywords" content="美术馆, 崔振宽, 西安美术馆, 长安画派, 水墨长安, 陕西美术馆">
    <title>崔振宽美术馆 公共教育</title>
    <link href="css/compressed/common_page.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>
    <section id="public_education-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<br /><span>{{title[1]}}</span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
            <p class="breadcrumb"><a href="index.html">🏠</a> ＞ <span>{{title[0]}}</span><span> ＞ {{currentLevel1Title}}</span><span v-if="currentLevel2Title"> ＞ {{currentLevel2Title}}</span></p>
        </div>
        <section class="content">
            <section>
                <section class="ssgyb">
                    <h2>山水高研班  <span>ADVANCED SEMINAR</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="ssgyb_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="ssgyb_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
                <section class="sfb">
                    <h2>书法班  <span>CALLIGRAPHY SEMINAR</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="sfb_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="sfb_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
                <section class="ysdjt">
                    <h2>艺术大讲堂  <span>ART FORUM</span></h2>
                    <div v-show="!bDisplayDetailArticle"> <!-- 显示详情文章的时候，就隐藏 -->
                        <ul class="ysdjt_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="ysdjt_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
            </section>
            <section>
                <section class="practice">
                    <h2>教育实践  <span>EDUCATIONAL PRACTICE</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="practice_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="practice_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
            </section>
            <section>
                <section class="volunteering">
                    <h2>志愿者服务  <span>VOLUNTEERING</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="volunteering_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="volunteering_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js/public_education.js"></script>
<script src="GlobalVarChecker/checkGlobalVariables.js"></script>
</html>
