<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="崔振宽美术馆">
    <meta name="keywords" content="美术馆, 崔振宽, 西安美术馆, 长安画派, 水墨长安, 陕西美术馆">
    <title>崔振宽美术馆 学术研究·馆藏</title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/research-collection.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="research-collection-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<br /><span>{{title[1]}}</span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
            <p class="breadcrumb"><a href="index.html">🏠</a> ＞ <span>{{title[0]}}</span><span> ＞ {{currentLevel1Title}}</span><span v-if="currentLevel2Title"> ＞ {{currentLevel2Title}}</span></p>
        </div>
        <section class="content">
            <section>
                <section class="academic_committee">
                    <h2>学术委员会<span>ACADEMIC COMMITTEE</span></h2>
                    <div>
                        <img src="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/research/committee/0.jpg" />
                        <img src="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/research/committee/1.jpg" />
                    </div>
                </section>
                <section class="academic_events">
                    <h2>学术活动<span>ACADEMIC EVENTS</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="academic_events_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="academic_events_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="item"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
            </section>
            <section class="collection">
                <section class="Chinese_painting">
                    <h2>国画<span>CHINESE PAINTING</span></h2>
                    <ul class="works_cata">
                        <works-cata v-for="(item,index) in catas_c" :cata_c="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul class="works_list">
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                        <ul v-if="list.length>nPerPage" class="pagination">
                            <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        </ul>
                    </div>
                </section>
                <section class="relics">
                    <h2>历史文物<span>RELICS</span></h2>
                </section>
                <section class="oli_painting">
                    <h2>油画<span>OLI PAINTING</span></h2>
                </section>
                <section class="print">
                    <h2>版画<span>PRINT</span></h2>
                </section>
                <section class="sculpture">
                    <h2>雕塑<span>SCULPTURE</span></h2>
                </section>
                <section class="device">
                    <h2>装置<span>DEVICE</span></h2>
                </section>
                <section class="photography">
                    <h2>摄影<span>PHOTOGRAPHY</span></h2>
                </section>
                <section class="multimedia">
                    <h2>多媒体影像<span>MULTIMEDIA</span></h2>
                </section>
                <section class="others">
                    <h2>其他<span>OTHERS</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
        <!-- <div>
            <div id="bulletin-tab">
                <h2>公告 BULLETIN</h2>
                <bulletin-tab :tab="getTab"></bulletin-tab>
                <span>more</span>
            </div>
            <div id="gallery_base_info">
                <gallery-base-info></gallery-base-info>
            </div>
        </div>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div> -->
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\research-collection.js"></script>
</html>
