<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/about_us.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
        <!-- <div>
            <img alt="左上角logo" />
            <ul class="menu">
                <li>关于我们<span>ABOUT US</span></li>
                <li>崔振宽艺术<span>CUIZHENKUAN ART</span></li>
                <li>展览<span>EXHIBITION</span></li>
                <li>公共教育<span>PUBLIC EDUCATION</span></li>
                <li>学术研究·馆藏<span>RESERCH·COLLECTION</span></li>
                <li>画廊·衍生品<span>GALLERY·DERIVATIVES</span></li>
                <li>服务中心<span>SERVICE CENTER5</span></li>
            </ul>
        </div> -->
    </header>

    <section id="reserch-collection-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata :current-title="currentTitle" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <section class="academic_committee">
                    <h2>学术委员会<span>ACADEMIC COMMITTEE</span></h2>
                </section>
                <section class="academic_events">
                    <h2>学术活动<span>ACADEMIC EVENTS</span></h2>
                    <ul>
                        <activity-item v-for="item in displayedItem" :li-data="item"></activity-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
            </section>
            <section>
                <section class="relics">
                    <h2>历史文物<span>RELICS</span></h2>
                </section>
                <section class="Chinese_painting">
                    <h2>国画<span>CHINESE PAINTING</span></h2>
                </section>
                <section class="oli_painting">
                    <h2>油画<span>OLI PAINTING</span></h2>
                </section>
                <section class="print">
                    <h2>版画<span>PRINT</span></h2>
                </section>
                <section class="sculpture">
                    <h2>雕塑<span>SCULPTURE</span></h2>
                </section>
                <section class="device">
                    <h2>装置<span>DEVICE</span></h2>
                </section>
                <section class="photography">
                    <h2>摄影<span>PHOTOGRAPHY</span></h2>
                </section>
                <section class="multimedia">
                    <h2>多媒体影像<span>MULTIMEDIA</span></h2>
                </section>
                <section class="others">
                    <h2>其他<span>OTHERS</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
        <!-- <div>
            <div id="bulletin-tab">
                <h2>公告 BULLETIN</h2>
                <bulletin-tab :tab="getTab"></bulletin-tab>
                <span>more</span>
            </div>
            <div id="gallery_base_info">
                <gallery-base-info></gallery-base-info>
            </div>
        </div>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div> -->
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\reserch-collection.js"></script>
</html>
