<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="崔振宽美术馆">
    <meta name="keywords" content="美术馆, 崔振宽, 西安美术馆, 长安画派, 水墨长安, 陕西美术馆">
    <title>崔振宽美术馆 学术研究·馆藏</title>
    <link href="http://funca.oss-cn-hangzhou.aliyuncs.com/CuiZhenkuanArtMuseum/css/common_page20170804.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="research-collection-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2 v-text="title[0]"><br /><span v-text="title[1]"></span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
            <p class="breadcrumb"><a href="index.html">🏠</a> ＞ <span v-text="title[0]"></span><span v-cloak> ＞ {{currentLevel1Title}}</span><span v-cloak> ＞ {{currentLevel2Title}}</span></p>
        </div>
        <section class="content">
            <section>
                <section class="article academic_committee">
                    <h2>学术委员会<span>ACADEMIC COMMITTEE</span></h2>
                    <div>
                        <p>崔振宽美术馆学术委员会主要承担在该馆所举办展览的学术定位、学术推广与公共教育。专家的建议不仅将对学术建设的纬度、收藏作品的方向、作品的保存和展陈方式有着至关重要的作用，而且还将为美术馆的发展做出宏观且前瞻性的规划。学术委员会的建立使美术馆与公众、专家、艺术家之间的沟通更加多元和开放。同时，还将一如既往地关注当代中国民营美术馆的发展，共同探讨和研究中国当代艺术的未来，共同努力使崔振宽美术馆在中国乃至世界美术馆行业中因其自身所独有的价值而绽放异彩。</p>
                        <p>The academic committee of Cui Zhenkuan Art Museum mainly undertakes academic positioning, academic popularization and public education in the exhibition held by the museum. Has a vital role in the advice of experts will not only on academic construction latitude, collection of works of the direction, the preservation and exhibition of works, but also for the development of the museum to make macroscopic and forward-looking planning. The establishment of the academic committee has made the communication between the art museum and the public, experts and artists more diverse and open. At the same time, will also focus on the development of contemporary China as in the past private art museum, to explore and study China the future of contemporary art, working together to make the Cui Zhenkuan Art Museum in China and the world art museum in the industry because of its own unique value and extraordinary.</p>
                    </div>
                </section>
                <section class="academic_events">
                    <h2>学术活动<span>ACADEMIC EVENTS</span></h2>
                    <div v-show="!bDisplayDetailArticle">
                        <ul class="academic_events_cata">
                            <exhibition-cata v-for="(item,index) in catas" :cata="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchexhibitions"></exhibition-cata>
                        </ul>
                        <ul class="academic_events_list">
                            <exhibition-item v-for="item in displayedItem" :exhibition-data="exhibitionItemDataObjToArr(item)"></exhibition-item>
                        </ul>
                        <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                            <ul v-if="list.length>nPerPage" class="pagination">
                                <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                            </ul>
                        </div>
                    </div>
                    <uploaded-article id="vUploaded_article" v-show="bDisplayDetailArticle" :content-html="detailArticleHTML"></uploaded-article>
                </section>
            </section>
            <section class="collection">
                <section class="Chinese_painting">
                    <h2>国画<span>CHINESE PAINTING</span></h2>
                    <ul class="works_cata">
                        <works-cata v-for="(item,index) in catas_c" :cata_c="item" :this-index="index" :cata-index="nCataIndex" @switchcata="switchworks"></works-cata>
                    </ul>
                    <ul class="works_list">
                        <works-item v-for="item in displayedItem" :works-data="item"></works-item>
                    </ul>
                    <div class="pagination_wrapper"><!-- 为了让pagination水平居中，加了这一层 -->
                        <ul v-if="list.length>nPerPage" class="pagination">
                            <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        </ul>
                    </div>
                </section>
                <section class="relics">
                    <h2>历史文物<span>RELICS</span></h2>
                </section>
                <section class="oli_painting">
                    <h2>油画<span>OLI PAINTING</span></h2>
                </section>
                <section class="print">
                    <h2>版画<span>PRINT</span></h2>
                </section>
                <section class="sculpture">
                    <h2>雕塑<span>SCULPTURE</span></h2>
                </section>
                <section class="device">
                    <h2>装置<span>DEVICE</span></h2>
                </section>
                <section class="photography">
                    <h2>摄影<span>PHOTOGRAPHY</span></h2>
                </section>
                <section class="multimedia">
                    <h2>多媒体影像<span>MULTIMEDIA</span></h2>
                </section>
                <section class="others">
                    <h2>其他<span>OTHERS</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer :tabs="bulletinTabs" :bulletin-index="bulletinIndex" :bulletin-num="bulletinNum"></common-footer>
        <!-- <div>
            <div id="bulletin-tab">
                <h2>公告 BULLETIN</h2>
                <bulletin-tab :tab="getTab"></bulletin-tab>
                <span>more</span>
            </div>
            <div id="gallery_base_info">
                <gallery-base-info></gallery-base-info>
            </div>
        </div>
        <div>
            <p>陕ICP备</p>
            <div>
                <a href="">会员</a>
                <a href="">联系我们</a>
                <a href="">下载专区</a>
            </div>
            <img alt="右下角logo" />
        </div> -->
    </footer>

</body>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="component/common.component.js"></script>
<script src="js\research-collection.js"></script>
<script src="GlobalVarChecker/checkGlobalVariables.js"></script>
</html>
