<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/service_center.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
    </header>

    <section id="service_center-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata :current-level1-title="currentLevel1Title" :current-level2-title="currentLevel2Title" @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <section class="bulletin">
                    <h2>公告  <span>BULLETIN</span></h2>
                    <ul>
                        <bulletin-item v-for="item in displayedItem" :li-data="item"></BULLETIN-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        <!-- TODO VUE定义类不能用连字符？ <list-pagination v-for="n in pageNum" :page-index="n"  :class="{current-li:1}"></list-pagination> -->
                    </ul>
                </section>
            </section>
            <section>
                <section class="member_ship">
                    <h2>会员  <span>MEMBER SHIP</span></h2>
                    <p>
                        愿您能和我们一道，<br />
                        共同推动传统艺术与当代艺术在中国的发展！<br />
                        分享艺术带来的视觉盛宴与精神财富！
                    </p>
                    <p>
                        我们愿将艺术坚实地扎根在公众文化生活中，增强社会大众身份与文化认同感。<br />
                        我们更愿肩负传承民族文化艺术的时代责任，投身于地区文化艺术生态的建设，<br />
                        创造今天中国真正的当代艺术。
                    </p>
                    <p>
                        感谢您对公益美术馆事业的支持！
                    </p>
                    <ol>
                        <h3>所有会员权益</h3>
                        <li>全年免费参观崔振宽美术馆展览</li>
                        <li>免费获悉崔振宽美术馆展览信息</li>
                        <li>获得重要展览的开幕式邀请</li>
                        <li>获得崔振宽美术馆重要展览会员专场导览</li>
                        <li>有机会获得参加与崔振宽美术馆相关的艺术博览会</li>
                        <li>优先预约并参加崔振宽美术馆的公共教育活动（亲子活动坊、山水高研班、艺术大讲堂）</li>
                        <li>享受崔振宽美术馆收费的公共教育活动折扣（亲子活动坊可低至5折，其他视活动内容而定）</li>
                        <li>美术馆展览期间（除展览开幕式或大型活动外），参观美术馆展览可免费使用停车场</li>
                    </ol>
                    <ul>
                        <h3>特别会员权益</h3>
                        <ol>
                            <h4>院校会员（申请者必须是大中专院校的学生、教师 ） 100元/年</h4>
                            <li>享受所有会员权益</li>
                            <li>若为高校学生，在每年生日时可携带3-5名好友免费参观当月美术馆展览</li>
                            <li>若为高校教师，可领8-10名学生免费参观美术馆</li>
                            <li>崔振宽美术馆咖啡厅、艺术书店、艺术衍生品、茶餐厅、艺术酒店等消费95折优惠</li>
                            <li>获赠全年4本《崔振宽美术馆馆刊》</li>
                        </ol>
                        <ol>
                            <h4>个人会员（申请者为社会大众）300元/年</h4>
                            <li>享受所有会员权益</li>
                            <li>会员期限内，可携1名好友免费参观美术馆的收费展览</li>
                            <li>崔振宽美术馆咖啡厅、艺术书店、艺术衍生品、茶餐厅、艺术酒店等消费95折优惠</li>
                            <li>获赠全年4本《崔振宽美术馆馆刊》</li>
                        </ol>
                        <ol>
                            <h4>家庭会员（申请者须为育有子女的家庭）500元/年</h4>
                            <li>享受所有会员权益</li>
                            <li>可免费参与美术馆针对家庭所开设的公共教育活动2次</li>
                            <li>家庭会员享有推荐其他家庭首次参加公教活动费用5折</li>
                            <li>崔振宽美术馆咖啡厅、艺术书店、艺术衍生品、茶餐厅、艺术酒店等消费9折优惠</li>
                            <li>获赠全年4本《崔振宽美术馆馆刊》</li>
                        </ol>
                        <ol>
                            <h4>贵宾会员（社会大众）2000元/年</h4>
                            <li>享受所有会员权益</li>
                            <li>崔振宽美术馆咖啡厅、艺术书店、艺术衍生品、茶餐厅、艺术酒店等消费85折优惠</li>
                            <li>获邀参加崔振宽美术馆艺术展开幕酒会</li>
                            <li>免费在崔振宽美术馆举办读书分享会、小型沙龙、生日Party等5-8人聚会</li>
                            <li>获赠全年4本《崔振宽美术馆馆刊》</li>
                        </ol>
                    </ul>
                </section>
            </section>
            <section>
                <section class="download">
                    <h2>下载专区  <span>DOWNLOAD</span></h2>
                    <ul>
                        <bulletin-item v-for="item in displayedItem" :li-data="item"></BULLETIN-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
            </section>
            <section>
                <section class="guide">
                    <h2>参观导览  <span>GUIDE</span></h2>
                </section>
            </section>
            <section>
                <section class="comments">
                    <h2>意见指南  <span>COMMENTS</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\service_center.js"></script>
</html>
