<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/common_page.css" type="text/css" rel="stylesheet">
    <link href="css/about_us.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="common-header">
        <header-template></header-template>
        <!-- <div>
            <img alt="左上角logo" />
            <ul class="menu">
                <li>关于我们<span>ABOUT US</span></li>
                <li>崔振宽艺术<span>CUIZHENKUAN ART</span></li>
                <li>展览<span>EXHIBITION</span></li>
                <li>公共教育<span>PUBLIC EDUCATION</span></li>
                <li>学术研究·馆藏<span>RESERCH·COLLECTION</span></li>
                <li>画廊·衍生品<span>GALLERY·DERIVATIVES</span></li>
                <li>服务中心<span>SERVICE CENTER5</span></li>
            </ul>
        </div> -->
    </header>

    <section id="service_center-middle" class="common-middle">
        <div  id="catalog" class="catalog">
            <h2>{{title[0]}}<span>{{title[1]}}</span></h2>
            <cata @display_content="display" v-for="cata in catas" :cata="cata"></cata>
        </div>
        <section class="content">
            <section>
                <section class="bulletin">
                    <h2>公告<span>BULLETIN</span></h2>
                    <ul>
                        <bulletin-item v-for="item in displayedItem" :li-data="item"></BULLETIN-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                        <!-- TODO VUE定义类不能用连字符？ <list-pagination v-for="n in pageNum" :page-index="n"  :class="{current-li:1}"></list-pagination> -->
                    </ul>
                </section>
                <section class="member_ship">
                    <h2>会员<span>MEMBER SHIP</span></h2>
                </section>
                <section class="download">
                    <h2>下载专区<span>DOWNLOAD</span></h2>
                    <ul>
                        <bulletin-item v-for="item in displayedItem" :li-data="item"></BULLETIN-item>
                    </ul>
                    <ul v-if="list.length>nPerPage" class="pagination">
                        <list-pagination v-for="n in pageNum" :page-index="n-1" :class="{ currentLi:nPageIndex===n-1}" @switchpagination="switchpage"></list-pagination>
                    </ul>
                </section>
                <section class="guide">
                    <h2>参观导览<span>GUIDE</span></h2>
                </section>
                <section class="comments">
                    <h2>意见指南<span>COMMENTS</span></h2>
                </section>
            </section>
        </section>
        <div style="clear:both;"></div>
    </section>

    <footer id="common-footer">
        <common-footer></common-footer>
    </footer>

</body>
<script src="js/vue.js"></script>
<script src="component/common.component.js"></script>
<script src="js\service_center.js"></script>
</html>
