
$INDEX_TAB_MARGINLEFT: 13px;
$INDEX_TAB_WIDTH: 400px;


#exhibitionNews-tab, #public-tab, #bulletin-tab, #base-info-tab{
    width: $INDEX_TAB_WIDTH;
    position: relative;

    height: 515px;
    float: left;
    background-color: #efefef;
    margin-bottom: 10px;
    .more{
        position: absolute; right: 25px; bottom: 25px;
        cursor: pointer;
    }

    h2{
        position: absolute; left: 25px; bottom: 25px;
        font-size: 18px; font-weight: bold;
        color: $STANDARD_COLOR;
    }
    >div{
        width: 360px; height: 76px;
        margin-left: auto; margin-right: auto;
        box-sizing: border-box; border-top: 1px solid $LINE_GRAY;
        position: relative;
        h3{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 360px;
            position: absolute; top: 24px;
            font-size: 14px; font-weight: bold;
            span{
                color: $STANDARD_COLOR;
            }
        }
        p{
            position: absolute; top: 48px;
            font-size: 12px; font-weight: bold;
            color: $BASIC_GRAY;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    >div:nth-child(3){
        border-top: none;
    }
    .more{
        position: absolute; right: 25px; bottom: 25px;
        cursor: pointer;
    }
}
