/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*v2.0 over*/
body {
  font-family: "Microsoft YaHei"; }
  @media (min-width: 1920px) {
    body {
      overflow-x: hidden; } }

#research-collection-middle .content > section .academic_events {
  font-size: 12px; }
  #research-collection-middle .content > section .academic_events .academic_events_cata {
    height: 22px;
    margin-top: 16px; }
    #research-collection-middle .content > section .academic_events .academic_events_cata .active_cata {
      color: #761301; }
    #research-collection-middle .content > section .academic_events .academic_events_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  #research-collection-middle .content > section .academic_events .academic_events_list > li {
    margin-top: 24px; }
    #research-collection-middle .content > section .academic_events .academic_events_list > li .cover {
      float: left;
      width: 355px;
      height: 200px;
      cursor: pointer; }
    #research-collection-middle .content > section .academic_events .academic_events_list > li .info {
      width: 355px;
      overflow: hidden;
      float: left;
      margin-left: 34px; }
      #research-collection-middle .content > section .academic_events .academic_events_list > li .info h3 {
        font-size: 14px;
        font-weight: bold; }
        #research-collection-middle .content > section .academic_events .academic_events_list > li .info h3 span {
          color: #761301; }
      #research-collection-middle .content > section .academic_events .academic_events_list > li .info p {
        font-size: 12px;
        color: #b3b3b3; }
      #research-collection-middle .content > section .academic_events .academic_events_list > li .info .date {
        font-weight: bold; }
      #research-collection-middle .content > section .academic_events .academic_events_list > li .info .summary {
        margin-top: 16px; }
      #research-collection-middle .content > section .academic_events .academic_events_list > li .info .more {
        color: #761301;
        font-size: 10px;
        display: inline-block;
        margin-top: 16px; }
#research-collection-middle .content .collection > section {
  font-size: 12px; }
  #research-collection-middle .content .collection > section .works_cata {
    height: 22px;
    margin-top: 16px; }
    #research-collection-middle .content .collection > section .works_cata .active_cata {
      color: #761301; }
    #research-collection-middle .content .collection > section .works_cata li {
      height: 22px;
      float: left;
      margin-right: 30px;
      cursor: pointer; }
  #research-collection-middle .content .collection > section .works_list > li {
    margin-top: 24px; }
    #research-collection-middle .content .collection > section .works_list > li .thumbnail {
      float: left;
      width: 355px;
      height: 200px;
      background-color: #f2f2f2;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer; }
    #research-collection-middle .content .collection > section .works_list > li .info {
      float: left;
      margin-left: 34px;
      width: 355px;
      overflow: hidden; }
      #research-collection-middle .content .collection > section .works_list > li .info span {
        color: #b3b3b3; }

/*# sourceMappingURL=research-collection.css.map */
