@charset "utf-8";
@import "basic.scss";


// other
#top_logo{
    cursor: pointer;
}
.more{
    font:{
        size: 10px;
        weight: bold;
    }
    color: $STANDARD_COLOR;
}
a{
    color: inherit;
}
.active_tab{
    color: $STANDARD_COLOR;
}

[v-cloak] {
  display: none;
}



.common-middle{
    width: $MIDDLE_WIDTH;
    margin-left: auto; margin-right: auto;
    padding-top: 105px;
    box-sizing: border-box;
    // #catalog{
    //     width: $MIDDLE_CATALOG_WIDTH; float: left;
    //     box-sizing: border-box; border-right: 1px solid $LINE_GRAY;
    //     position: relative;
    //     h2{
    //         font-size: 18px;
    //         font-weight: bold;
    //         color: $STANDARD_COLOR;
    //         span{
    //             font-size: 12px;
    //         }
    //     }
    //     >div{
    //         color: $BASIC_BLACK;
    //         margin-top: 22px;
    //         .active_page{
    //             color: $STANDARD_COLOR;
    //         }
    //         h3{
    //             font-size:14px;
    //             span{
    //                 font-size:10px;
    //                 color: $BASIC_GRAY;
    //             }
    //             cursor: pointer;
    //         }
    //         ul{
    //             margin-top: 18px;
    //             li{
    //                 font-size:12px;
    //                 box-sizing: border-box;
    //                 padding-left: 1em;
    //                 line-height: 16px;
    //                 margin-top: 8px;
    //                 cursor: pointer;
    //                 span{
    //                     font-size:10px;
    //                     color: $BASIC_GRAY;
    //                 }
    //             }
    //         }
    //     }
    //     .breadcrumb{
    //         color: $BASIC_GRAY;
    //         font-size: 10px;
    //         position: absolute;
    //         top: -40px;
    //         white-space:nowrap;
    //     }
    // }
    .content{
        width: $MIDDLE_CONTENT_WIDTH; float: left;
        box-sizing: border-box; padding-left: 50px;
        line-height: 22px;
        >section{
            >section, .artile{
                display: none;
                h2{
                    font-size: 16px;
                    color: $BASIC_BLACK;
                    span{
                        display: none;
                        font-size: 14px;
                        color: $BASIC_GRAY;
                        font-weight: bold;
                    }
                }
                #vUploaded_article{
                    position: relative;
                    padding-top: 48px;
                    h2{
                        font-size: 20px;
                        padding: 36px 0;
                        font-weight: bold;
                    }
                    >div{
                        img{
                            display: block;
                        }
                        b{
                            font-weight: bold;
                        }
                    }
                    .close_article, .backToTop{
                        position: absolute;
                        cursor: pointer;
                        right: 0;
                    }
                    .close_article{
                        top: 70px;
                    }
                    .backToTop{
                        bottom: -50px;
                    }
                }
            }
            .article{ // 只有文章形式才是这种样式
                font-size: 12px;
                color: $BASIC_BLACK;
                p{
                    margin-top: 24px;
                }
                .articalImgP{
                    text-align: center;
                    .articalImg{
                        width:530px;
                    }
                }
            }
            &:first-child{
                display: block;
                >section{
                    display:none;
                    &:first-child{
                        display: block;
                    }
                }
            }
        }
        .pagination_wrapper{
            text-align: center;
            .pagination{
                margin-top: 90px;
                display: inline-block;
                li{
                    border: 1px solid gray;
                    width: 34px;
                    line-height: 34px; height:34px;
                    box-sizing: border-box;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                    float: left;
                    margin-right: 10px;
                }
                .currentLi{
                    border: none;
                }
            }
        }
    }
}
